<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Invitacion
        </ion-title>

        <ion-buttons slot="end">
            <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
              <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
              <ion-icon name="md-checkmark" *ngIf="!platform.is('ios')"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Fecha Inicio</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="fechaInicio" id="field_fechaInicio"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Fecha Fin</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="fechaFin" id="field_fechaFin"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Sede</ion-label>
                <ion-select id="field_sede" formControlName="sede" [compareWith]="compareSedes">
                    <ion-select-option [value]="null"></ion-select-option>
                    <ion-select-option [value]="sedesOption" *ngFor="let sedesOption of sedes; trackBy: trackSedesById">{{sedesOption.nombreSede}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Invitado</ion-label>
                <ion-select id="field_invitado" formControlName="invitado" [compareWith]="compareInvitados">
                    <ion-select-option [value]="null"></ion-select-option>
                    <ion-select-option [value]="invitadosOption" *ngFor="let invitadosOption of invitados; trackBy: trackInvitadosById">{{invitadosOption.identificacion}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
