<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Invitados
        </ion-title>

        <ion-buttons slot="end">
            <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
              <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
              <ion-icon name="md-checkmark" *ngIf="!platform.is('ios')"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input type="text" name="nombre" formControlName="nombre"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Apellido</ion-label>
                <ion-input type="text" name="apellido" formControlName="apellido"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Tipo Documento</ion-label>
                <ion-select formControlName="tipoDocumento" id="field_tipoDocumento"  required>
                        <ion-select-option value="Cedula">{{'TipoDocumentod.Cedula' | translate}}</ion-select-option>
                        <ion-select-option value="Cedula_Extranjeria">{{'TipoDocumentod.Cedula_Extranjeria' | translate}}</ion-select-option>
                        <ion-select-option value="Pasaporte">{{'TipoDocumentod.Pasaporte' | translate}}</ion-select-option>
                        <ion-select-option value="Otro">{{'TipoDocumentod.Otro' | translate}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Identificacion</ion-label>
                <ion-input type="text" name="identificacion" formControlName="identificacion"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Correo</ion-label>
                <ion-input type="text" name="correo" formControlName="correo"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Telefono</ion-label>
                <ion-input type="text" name="telefono" formControlName="telefono"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>User</ion-label>
                <ion-select id="field_user" formControlName="user" [compareWith]="compareUser">
                    <ion-select-option [value]="null"></ion-select-option>
                    <ion-select-option [value]="userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
