<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Facturacions
        </ion-title>
    </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
    <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let facturacion of facturacions; trackBy: trackId" #slidingItem>
            <ion-item (click)="view(facturacion)">
              <ion-label text-wrap>
                <p>{{facturacion.titularFactura}}</p>
                <!-- todo: special handling for translating enum - {{'TipoPersonad.' + facturacion.tipoPersona}}" -->
                <p>{{facturacion.tipoPersona}}</p>
                <!-- todo: special handling for translating enum - {{'PeriodicidadFacturaciond.' + facturacion.periodicidadFacturacion}}" -->
                <p>{{facturacion.periodicidadFacturacion}}</p>
                <p>{{facturacion.maximoMonto}}</p>
                <p>{{facturacion.valor}}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="primary" (click)="edit(slidingItem, facturacion)">
                    {{ 'EDIT_BUTTON' | translate }}
                </ion-item-option>
                <ion-item-option color="danger" (click)="delete(facturacion)">
                    {{ 'DELETE_BUTTON' | translate }}
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!facturacions?.length">
        <ion-label>
            No Facturacions found.
        </ion-label>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="new()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
