<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Facturacion
        </ion-title>

        <ion-buttons slot="end">
            <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
              <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
              <ion-icon name="md-checkmark" *ngIf="!platform.is('ios')"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Titular Factura</ion-label>
                <ion-input type="text" name="titularFactura" formControlName="titularFactura"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Tipo Persona</ion-label>
                <ion-select formControlName="tipoPersona" id="field_tipoPersona" >
                        <ion-select-option value="NATURAL">{{'TipoPersonad.NATURAL' | translate}}</ion-select-option>
                        <ion-select-option value="JURIDICA">{{'TipoPersonad.JURIDICA' | translate}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Periodicidad Facturacion</ion-label>
                <ion-select formControlName="periodicidadFacturacion" id="field_periodicidadFacturacion" >
                        <ion-select-option value="SEMANAL">{{'PeriodicidadFacturaciond.SEMANAL' | translate}}</ion-select-option>
                        <ion-select-option value="QUINCENAL">{{'PeriodicidadFacturaciond.QUINCENAL' | translate}}</ion-select-option>
                        <ion-select-option value="MENSUAL">{{'PeriodicidadFacturaciond.MENSUAL' | translate}}</ion-select-option>
                        <ion-select-option value="BIMESTRAL">{{'PeriodicidadFacturaciond.BIMESTRAL' | translate}}</ion-select-option>
                        <ion-select-option value="TRIMESTRAL">{{'PeriodicidadFacturaciond.TRIMESTRAL' | translate}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Maximo Monto</ion-label>
                <ion-input type="number" name="maximoMonto" formControlName="maximoMonto"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Valor</ion-label>
                <ion-input type="number" name="valor" formControlName="valor"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Empresa</ion-label>
                <ion-select id="field_empresa" formControlName="empresa" [compareWith]="compareEmpresa">
                    <ion-select-option [value]="null"></ion-select-option>
                    <ion-select-option [value]="empresaOption" *ngFor="let empresaOption of empresas; trackBy: trackEmpresaById">{{empresaOption.razonSocial}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Identificacion</ion-label>
                <ion-select id="field_identificacion" formControlName="identificacion" [compareWith]="compareCuentaAsociada">
                    <ion-select-option [value]="null"></ion-select-option>
                    <ion-select-option [value]="cuentaAsociadaOption" *ngFor="let cuentaAsociadaOption of cuentaAsociadas; trackBy: trackCuentaAsociadaById">{{cuentaAsociadaOption.identificaciontitular}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
