<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Tipo Prepago Consumo
        </ion-title>

        <ion-buttons slot="end">
            <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
              <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
              <ion-icon name="md-checkmark" *ngIf="!platform.is('ios')"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input type="text" name="nombre" formControlName="nombre"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Descripcion</ion-label>
                <ion-input type="text" name="descripcion" formControlName="descripcion"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Valor Minimo</ion-label>
                <ion-input type="number" name="valorMinimo" formControlName="valorMinimo"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Valor Maximo</ion-label>
                <ion-input type="number" name="valorMaximo" formControlName="valorMaximo"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Tipo Beneficio</ion-label>
                <ion-select id="field_tipoBeneficio" formControlName="tipoBeneficio" [compareWith]="compareBeneficio">
                    <ion-select-option [value]="null"></ion-select-option>
                    <ion-select-option [value]="beneficioOption" *ngFor="let beneficioOption of beneficios; trackBy: trackBeneficioById">{{beneficioOption.tipoBeneficio}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
